@media screen and (max-width:500px){
    .sp{
        width: 100%;
        display: block;
        text-align: center;
    }
    .pc{
        display: none;
    }
    button{
        width: 60%;
        height: 30%;
        padding-top: 3%;
        padding-bottom: 3%;
        margin-top: 5%;
        margin-bottom: 5%;
        background-color: brown;
        color: gold;
        font-family: 'Allison',cursive;
    }
    button p{
        font-size: 300%;
        margin: 0%;
    }
}

@media screen and (min-width:501px) {
    .pc{
        width: 100%;
        display: block;
        text-align: center
    }
    .sp{
        display: none;
    }
    button{
        width: 25%;
        height: 25%;
        padding-top: 3%;
        padding-bottom: 3%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 3%;
        background-color: brown;
        color: gold;
        font-family: 'Allison',cursive;
    }
    button p{
        font-size: 80px;
        margin: 0%;
    }
}

body{
    text-align: center;
    background-color: rgb(105, 7, 7);
}
footer{
    background-color:#000;
    color:#fff;
}
